@using MtdKey.OrderMaker.Areas.Identity.Data
@inject Services.ConfigHandler configHandler
@inject SignInManager<WebAppUser> SignInManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["ColorBar"] = await configHandler.GetColorBar();
    ViewData["ColorIcon"] = await configHandler.GetColorIcon();
    string CPQLink = string.Empty;
}

<header class="mdc-top-app-bar  mdc-elevation--z4" id="app-bar" style="background-color: @ViewBag.ColorBar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            @if (SignInManager.IsSignedIn(User))
            {
                <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon" style="color: @ViewBag.ColorIcon">menu</button>
            }
            <span class="mdc-top-app-bar__title" style="padding-left: 8px">
                @{

                    var imgAppBar = await configHandler.GetImageFromConfig(configHandler.CodeImgAppBar);
                }

                @if (imgAppBar != string.Empty)
                {
                    <img src="@imgAppBar" height="32" />
                }
                else
                {
                    <img src="~/lib/mtd-ordermaker/images/logo-mtd-white.png" height="32" />
                }

            </span>
        </section>
        @if (SignInManager.IsSignedIn(User))
        {
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                @if (CPQLink.Length > 0)
                {
                    <div class="toolbar mdc-menu-surface--anchor">
                        <button id="main-apps-button" class="mdc-icon-button material-icons mdc-top-app-bar__action-item" aria-label="apps" alt="apps" style="color: @ViewBag.ColorIcon">apps</button>
                        <div id="main-apps-menu" class="mdc-menu-surface" style="margin-top: 50px; margin-right: 8px;">
                            <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" style="cursor: pointer">
                                <li mtd-data-url="@CPQLink" class="mdc-list-item" role="menuitem">
                                    <span class="mdc-list-item__ripple"></span>
                                    <span class="mdc-list-item__graphic" aria-hidden="true">
                                        <img src="~/lib/mtd-ordermaker/images/mini-icon-cpq.png" width="24" height="24">
                                    </span>
                                    <span class="mdc-list-item__text">CPQ Manager</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <div class="toolbar mdc-menu-surface--anchor">
                    <button id="main-user-button" class="mdc-icon-button material-icons mdc-top-app-bar__action-item" aria-label="person" alt="person" style="color: @ViewBag.ColorIcon">person</button>
                    <div id="main-user-menu" class="mdc-menu-surface" style="margin-top: 50px; margin-right: 8px;">
                        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" style="cursor: pointer">
                            <li mtd-data-url="/Identity/Account/Manage" class="mdc-list-item" role="menuitem">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="material-icons mdc-list-item__graphic" aria-hidden="true">perm_identity</span>
                                <span class="mdc-list-item__text">@Localizer["Profile"]</span>
                            </li>
                            <li mtd-data-url="/Identity/Account/Manage/ChangePassword" class="mdc-list-item" role="menuitem">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="material-icons mdc-list-item__graphic" aria-hidden="true">lock</span>
                                <span class="mdc-list-item__text">@Localizer["Password"]</span>
                            </li>
                            <li role="separator" class="mdc-list-divider"></li>
                            <li class="mdc-list-item" role="menuitem" onclick="document.getElementById('form-logout').submit()">
                                <span class="mdc-list-item__ripple"></span>
                                <form id="form-logout" style="display: none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post"></form>
                                <span class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</span>
                                <span mtd-data-clicker mtd-data-location="/" class="mdc-list-item__text">@Localizer["Logout"]</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        }
    </div>
</header>
