@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model MtdKey.OrderMaker.Areas.Workplace.Pages.Store.IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Data List"];
    ViewData["SecondTitle"] = Model.MtdForm.Name;
}

@section Head  {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/mtd-ordermaker/index/css/mtd-index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/xdan/dist/jquery.datetimepicker.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/mtd-ordermaker/index/css/mtd-index.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/xdan/dist/jquery.datetimepicker.min.css" asp-append-version="true" />
    </environment>
}

@section Breadcrumb {
    <li mtd-data-url="/"><a href="~/">@Localizer["Desktop"]</a></li>
    <li>@ViewBag.Title</li>
}

@if (Model.ExportToExcel)
{
    @section Action  {
        <li class="mdc-list-item" role="menuitem" onclick="FileDownload('index-excel-form')">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">import_export</span>
            <span class="mdc-list-item__text">@Localizer["Export to Excel"]</span>
        </li>
    }
}


<form id="index-excel-form" method="post" enctype="multipart/form-data" action="~/api/action/index/excel/export">
    @Html.AntiForgeryToken()
    <input name="form-id" value="@ViewBag.FormId" type="hidden" />
</form>


@await Component.InvokeAsync("IndexPlace", new { formId = ViewBag.FormId })


@section Scripts {
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/dist/js/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/lib/xdan/dist/jquery.datetimepicker.full.min.js" asp-append-version="true"></script>

        <script src="~/lib/mtd-ordermaker/index/js/mtd-index.js" asp-append-version="true"></script>
        <script src="~/lib/mtd-ordermaker/index/js/mtd-index-filters.js" asp-append-version="true"></script>
        <script src="~/lib/mtd-ordermaker/index/js/mtd-index-columns.js" asp-append-version="true"></script>
        <script src="~/lib/mtd-ordermaker/index/js/mtd-index-sorting.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/dist/js/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/lib/xdan/dist/jquery.datetimepicker.full.min.js" asp-append-version="true"></script>
        <script src="~/lib/mtd-ordermaker/index/js/mtd-index.min.js" asp-append-version="true"></script>
        <script src="~/lib/mtd-ordermaker/index/js/mtd-index-sorting.js" asp-append-version="true"></script>
    </environment>

    <script>
        function CallPrint(id) {
            window.open('./Store/DetailsPrint?id=' + id, '', 'left=0,top=0,width=800,height=600,toolbar=0,scrollbars=1,status=0');
        }

        const approvalList = document.getElementById('approval-list');
        if (approvalList) {
            var toggleButton = new mdc.iconButton.MDCIconButtonToggle(approvalList);
            toggleButton.unbounded = true;
        }

        const ldtp = new LocaleDTP();
        $.datetimepicker.setLocale(`${ldtp.lang}`);

    </script>
}
