@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model EditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Editor"];
    ViewData["SecondTitle"] = Localizer["Editing group"];
}

@section Breadcrumb {
    <li><a href="~/identity/users">@Localizer["Users"]</a></li>
    <li><a href="~/identity/users/group">@Localizer["Groups"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Action {
    <li mtd-data-delete id="action-delete" class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete group"]</span>
    </li>
}

<div class="mtd-desk">

    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" type="button" class="mdc-fab mdc-fab--extended">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>

    <form mtd-data-form method="post" autocomplete="off" action="~/api/users/admin/groups/edit" novalidate>
        @Html.AntiForgeryToken()       
        <input type="hidden" value="@Model.MtdGroup.Id" name="group-id" />
        <input type="hidden" id="clicker-save" mtd-data-clicker  mtd-data-message="@Localizer["Changes saved."]" mtd-data-location="/identity/users/group"/>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "group-name",
                   Name = "group-name",
                   Required = true,
                   Value = Model.MtdGroup.Name,
                   Label = "Name",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Outlined
               })
        </div>


        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
       {
           Id = "group-note",
           Name = "group-note",
           Required = true,
           Value = Model.MtdGroup.Description,
           Label = "Description",
           LabelLocalized = true,
           MTDTexFieldView = MTDTextFieldViews.TextArea,
           Cols = 40,
           Rows = 3,
           MaxLength = 250
       })
        </div>
    </form>
</div>


<form mtd-data-form method="post" autocomplete='off' enctype='multipart/form-data' action='/api/users/admin/groups/delete'>
    @Html.AntiForgeryToken()
    <input id="config-delete-id" name="group-id" type="hidden" value="@Model.MtdGroup.Id" />
    <input id="deleteClicker" mtd-data-clicker mtd-data-location="/identity/users/group" mtd-data-message="@Localizer["The group"] '@Model.MtdGroup.Name' @Localizer["was deleted"]" type="hidden" />
</form>

<div id="dialog-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="delete-form-title">
                @Localizer["Delete group"]?
            </h2>
            <div class="mdc-dialog__content" id="delete-dialog-content">
                @Localizer["The group and all data associated with it will be permanently deleted."]
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
                    <span class="mdc-button__label" onclick="document.getElementById('deleteClicker').click();">@Localizer["Delete"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

@section Scripts {
    <script>

            const dialog = new mdc.dialog.MDCDialog(document.getElementById('dialog-delete'));
            if (dialog) {
                document.querySelector('[mtd-data-delete]').addEventListener('click', () => {
                    dialog.open();
                });
            }

        new MTDTextField("group-name");
        new MTDTextField("group-note");
    </script>
}