@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Groups"];
    ViewData["SecondTitle"] = Localizer["List groups"];
}

@section Breadcrumb {
    <li><a href="~/identity/users">@Localizer["Users"]</a></li>
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px;">
            <button mtd-data-url="/identity/users/group/create" class="mdc-fab mdc-fab--extended" aria-label="Create">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">group_add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>

    <form method="get" autocomplete='off' novalidate>
        @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
            {
                Id = "search-text",
                Name = "searchText",
                Value = Model.SearchText,
                IconLeading = "fa fa-search",
                Placeholder = "Search for text",
                PlaceholderLocalized = true,
            })
    </form>

    <ul id="drgList" class="mdc-list mdc-list--two-line">
        @foreach (var group in Model.MtdGroups)
        {
        <li mtd-data-url="/identity/users/group/edit?id=@group.Id" id="@group-licol" class="mdc-list-item"
            data-value="@group.Id" draggable="true" role="button" aria-checked="false">
            <span class="mdc-list-item__ripple"></span>
            <div style="padding: 12px;">
                <i class="fas fa-user-friends fa-lg" style="color: gray"></i>
            </div>
            <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">@group.Name</span>
                <span class="mdc-list-item__secondary-text">@group.Description</span>
            </span>

            <div class="mtd-desk-bedit">
                <button class="mdc-icon-button"
                        aria-label="edit"
                        aria-hidden="true"
                        aria-pressed="false">
                    <i class="material-icons mdc-icon-button__icon">edit</i>
                </button>
            </div>

        </li>
        }
    </ul>
</div>

@section Scripts {
    <script>
        new MTDTextField("search-text");
    </script>
} 