@page
@model EditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Resolution editor"];
    ViewData["SecondTitle"] = Localizer["Editing resolution settings"];
    string stage = Request.Query["stage"];
}

@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/approval">@Localizer["Approvals"]</a></li>
    <li><a href="~/config/approval/edit?id=@Model.MtdApprovalStage.MtdApproval">@Localizer["Approval editor"]</a></li>
    <li><a href="~/config/approval/stages?idApproval=@Model.MtdApprovalStage.MtdApproval">@Localizer["Stages list"]</a></li>
    <li><a href="~/config/approval/resolutions?stage=@Model.MtdApprovalStage.Id">@Localizer["Resolutions"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Action {
    <li mtd-data-delete class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete"]</span>
    </li>
}

<form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="">
    <input type="hidden" asp-for="@Model.MtdApprovalResolution.Id" />
    <input type="hidden" asp-for="@Model.MtdApprovalResolution.MtdApprovalStageId" />
    <input type="hidden" asp-for="@Model.MtdApprovalResolution.Sequence" />
    <div class="mtd-desk">
        <div class="mtd-desk-panel">
            <div style="padding-left: 16px">
                <button mtd-data-clicker mtd-data-location="/config/approval/resolutions?stage=@Model.MtdApprovalStage.Id" type="button" class="mdc-fab mdc-fab--extended">
                    <div class="mdc-fab__ripple"></div>
                    <span class="material-icons mdc-fab__icon">save</span>
                    <span class="mdc-fab__label">@Localizer["Save"]</span>
                </button>
            </div>
        </div>
        <div class="mtd-desk-blocks">
            <div class="mtd-desk-block">
                <div class="mtd-desk-field-full">
                    @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "field-name",
                       Name = "MtdApprovalResolution.Name",
                       Required = true,
                       MTDTexFieldView = MTDTextFieldViews.Outlined,
                       Label = "Header text",
                       LabelLocalized = true,
                       Value = Model.MtdApprovalResolution.Name
                   })
                </div>
                <div class="mtd-desk-field-full">
                    @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                    {
                        Id = "field-note",
                        Name = "MtdApprovalResolution.Note",
                        Required = true,
                        MTDTexFieldView = MTDTextFieldViews.TextArea,
                        Label = "Description",
                        LabelLocalized = true,
                        MaxLength = 250,
                        Cols = 40,
                        Rows = 4,
                        Value = Model.MtdApprovalResolution.Note
                    })
                </div>
            </div>
            <div class="mtd-desk-block">
                <div class="mtd-desk-field mtd-desk-field--border">
                    <label>@Localizer["Text color"]</label>
                    <div>
                        <input asp-for="MtdApprovalResolution.Color" type="color">
                    </div>
                </div>
                <div class="mtd-desk-field mtd-desk-field--border">
                    @await Component.InvokeAsync("MTDImgSelector", new { id = "img", imgArray = Model.MtdApprovalResolution.ImgData, imgType = Model.MtdApprovalResolution.ImgType })
                </div>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("./_DialogDelete")


@section Scripts{
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config-approval.js" asp-append-version="true"></script>
    <script>
        new MTDTextField("field-name");
        new MTDTextField("field-note");
    </script>
}