@model MTDTextFieldTagsModel

@{
    string mainClass = "mdc-text-field mdc-text-field--outlined mdc-text-field--textarea ";
    mainClass = Model.Label == null ? mainClass += "mdc-text-field--no-label " : mainClass;
    mainClass = Model.IconLeading != null ? mainClass += "mdc-text-field--with-leading-icon " : mainClass;
    mainClass = Model.IconTrailing != null ? mainClass += "mdc-text-field--with-trailing-icon " : mainClass;

    if (Model.Disabled)
    {
        mainClass += "mdc-text-field--disabled ";
    }
}

<label id="@Model.Id" class="@mainClass">
    @{
        string clicker = Model.MtdInputClicker ? " mtd-input-clicker " : "";
        string maxLength = Model.MaxLength > 0 && !Model.UnlimitedText  ? $" maxLength={@Model.MaxLength} ": "";
    }
    <textarea id="@Model.IdInput" class="mdc-text-field__input @Model.Class" rows="@Model.Rows" cols="@Model.Cols"
              aria-labelledby="@Model.IdLabel"
              name="@Model.Name"
              aria-controls="@Model.IdHelper"
              aria-describedby="@Model.IdHelper"
              placeholder="@Model.Placeholder"
              pattern="@Model.Pattern"
              @maxLength
              @clicker
              @Model.RDAttribute>@Model.Value</textarea>

    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        @await Html.PartialAsync("./_label.cshtml")
        <span class="mdc-notched-outline__trailing"></span>
    </span>
</label>

@await Html.PartialAsync("./_helperText.cshtml")

@if (!Model.UnlimitedText && (Model.HelperText == null && Model.HelperError == null))
{
    @await Html.PartialAsync("./_counterLine.cshtml")
}