@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Configurator"];
    ViewData["SecondTitle"] = Localizer["Configuration and setup"];

}

@section Head  {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config.css" asp-append-version="true" />
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel"></div>
    <div class="mtd-config-place">
        <div mtd-data-url="/config/formeditor" class="mdc-ripple-surface mtd-config-param">
            <div class="mtd-config-param-icon">
                <img src="~/lib/mtd-ordermaker/images/form.png" />
            </div>
            <div class="mtd-config-param-title" style="align-self:stretch">
                <span>@Localizer["Forms"]</span>
            </div>
            <div>
                <span>@Localizer["Templates setting"]</span>
            </div>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div mtd-data-url="/config/interface" class="mdc-ripple-surface mtd-config-param">
                <div class="mtd-config-param-icon">
                    <img src="~/lib/mtd-ordermaker/images/formGear.png" />
                </div>
                <div class="mtd-config-param-title">
                    <span>@Localizer["Interface"]</span>
                </div>
                <div>
                    <span>@Localizer["Display elements"]</span>
                </div>
            </div>
        }


        <div mtd-data-url="/config/approval" class="mdc-ripple-surface mtd-config-param">
            <div class="mtd-config-param-icon">
                <img src="~/lib/mtd-ordermaker/images/formApproval.png" />
            </div>
            <div class="mtd-config-param-title">
                <span>@Localizer["Approvals"]</span>
            </div>
            <div>
                <span>@Localizer["Approval flows"]</span>
            </div>
        </div>

@*        <div mtd-data-url="/config/register" class="mdc-ripple-surface mtd-config-param">
            <div class="mtd-config-param-icon">
                <img src="~/lib/mtd-ordermaker/images/formRegister.png" />
            </div>
            <div class="mtd-config-param-title">
                <span>@Localizer["Registers"]</span>
            </div>
            <div>
                <span>@Localizer["Register set"]</span>
            </div>
        </div>*@

    </div>
</div>


@section Scripts {
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config.js" asp-append-version="true"></script>
}