@model RightsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

    <div class="mtd-users-rights-td">
        <div class="mdc-form-field">
            <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="@Model.FormId-delete" name="@Model.FormId-delete" @if (@Model.DeleteAll) { <text> checked</text>} />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                         viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="@Model.FormId-delete">@Localizer["All"]</label>
        </div>

        <div class="mdc-form-field">
            <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="@Model.FormId-delete-group" name="@Model.FormId-delete-group" @if (@Model.DeleteGroup) { <text> checked</text>} />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                         viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="@Model.FormId-delete-group">@Localizer["Group"]</label>
        </div>

        <div class="mdc-form-field">
            <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="@Model.FormId-delete-own" name="@Model.FormId-delete-own" @if (@Model.DeleteOwn) { <text> checked</text>} />
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                         viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label for="@Model.FormId-delete-own">@Localizer["Only own"]</label>
        </div>
    </div>
