@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@
@page
@model CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["New policy"];
    ViewData["SecondTitle"] = Localizer["Creating a new policy"];
}
@section Breadcrumb {
    <li><a href="~/identity/users">@Localizer["Users"]</a></li>
    <li><a href="~/identity/users/policy">@Localizer["Access policies"]</a></li>
    <li>@ViewBag.Title</li>
}
<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px;">
            <button mtd-data-clicker-by="clicker-create"  type="button" class="mdc-fab mdc-fab--extended">
                <div class="mtd-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>
    <form mtd-data-form method="post" autocomplete="off" action="~/api/policy/add" novalidate>
        <input type="hidden" value="@Model.MtdPolicy.Id" name="policy-id" />
        <input id="clicker-create" type="hidden" mtd-data-clicker mtd-data-location="/identity/users/policy/edit?id=@Model.MtdPolicy.Id" mtd-data-message="@Localizer["New policy was created."]" />
        @Html.AntiForgeryToken()


        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "policy-name",
                   Name = "policy-name",
                   Required = true,
                   Value = Model.MtdPolicy.Name,
                   Label = "Name",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Outlined
               })
        </div>


        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "policy-note",
                   Name = "policy-note",
                   Required = true,
                   Value = Model.MtdPolicy.Description,
                   Label = "Description",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.TextArea,
                   Cols = 40,
                   Rows = 3,
                   MaxLength = 250
               })
        </div>      
    </form>
</div>

@section Scripts{ 
    <script>
        new MTDTextField("policy-name");
        new MTDTextField("policy-note");
    </script>
}