@model MTDSelectListTagsModel

@{
    string mainClass = "mdc-select ";
    if (Model.Label == null) { mainClass += "mdc-select--no-label "; }
    if (Model.Disabled) { mainClass += "mdc-select--disabled "; }
}

<div mtd-select-list id="@Model.Id" class="@mainClass">
    <input id="@Model.IdInput" name="@Model.Name" type="hidden" value="@Model.ValueId" />
    <div class="mdc-select__anchor mdc-select--w100"
         role="button"
         aria-haspopup="listbox"
         aria-labelledby="@Model.IdLabel @Model.IdSelectedText">
        <span class="mdc-select__ripple"></span>
        @*<input type="text" disabled readonly class="mdc-select__selected-text" />*@
        <span class="mdc-select__selected-text"></span>
        <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic"
                 viewBox="7 10 10 5">
                <polygon class="mdc-select__dropdown-icon-inactive"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 10 12 15 17 10">
                </polygon>
                <polygon class="mdc-select__dropdown-icon-active"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 15 12 10 17 15">
                </polygon>
            </svg>
        </span>

        @await Html.PartialAsync("./_label.cshtml")

        <span class="mdc-line-ripple"></span>
    </div>

    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-select--w100" role="listbox">
            @await Html.PartialAsync("./_items.cshtml")        
    </div>
</div>