@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@using Microsoft.Extensions.Localization;
@using MtdKey.OrderMaker;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<FormBuilderLocalizer> localizer


<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" type="button" class="mdc-fab mdc-fab--extended">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@localizer["Save"]</span>
            </button>
        </div>
    </div>
    <div class="container ps-2 pe-2">

        <div id="warnMessage" class="warn-message">
            <div>
                <i class="bi bi-exclamation-triangle-fill"></i>
                @localizer["Remember to save your changes or press the cancel button to discard the changes."]
            </div>
             <div>
                 <button id="btnClearStorage" class="btn btn-light btn-sm d-none">
                    <i class="bi bi-arrow-counterclockwise"></i>
                    @localizer["Cancel"]
                </button>
             </div>
        </div>
    </div>

    <div class="ps-2 pe-2 container">
        <div class="row builder-place">
            <div class="col-xs-12 col-sm-7 col-md-8  mdc-elevation--z2 p-2">

                <div class="form_title">
                    <div>
                        <span class="mdc-list-item__graphic material-icons" aria-hidden="true" style="font-size:32px">folder</span>
                    </div>
                    <div class="form_name"></div>
                    <div>
                        <button id="btnFormEditor" type="button" class="btn btn-light text-primary">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </div>
                </div>

                <hr />

                <div id="placeBuilder" style="width:100%; height: 90%;" data-type="placeBuilder">
                    <div class="infoFirstOfAll">
                        <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
                            <div class="mdc-linear-progress__buffering-dots"></div>
                            <div class="mdc-linear-progress__buffer"></div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                        </div>
                 @*       @localizer["First of all, drag the Form Part element here."]*@
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 mdc-elevation--z2 ps-2 p-2">

                <div class="tools_title">@localizer["Elements"]</div>
                <div data-type="part" draggable="true" class="element w-100">
                    <i class="fas fa-tags"></i>
                    @localizer["Form Part"]
                </div>
                <div class="tools_title">
                    @localizer["Form Fields"]
                </div>
                <div class="row p-2">
                    <div data-type="field" data-field="1" draggable="true" class="element col">
                        <i class="bi bi-fonts"></i>
                        <span>@localizer["Text"]</span>
                    </div>
                    <div data-type="field" data-field="4" draggable="true" class="element col">
                        <i class="bi bi-textarea-t"></i>
                        <span>@localizer["TextArea"]</span>
                    </div>
                    <div data-type="field" data-field="2" draggable="true" class="element col">
                        <i class="bi bi-123"></i>
                        <span>@localizer["Integer"]</span>
                    </div>
                    <div data-type="field" data-field="3" draggable="true" class="element col">
                        <i class="bi bi-coin"></i>
                        <span>@localizer["Money"]</span>
                    </div>
                    <div data-type="field" data-field="5" draggable="true" class="element col">
                        <i class="bi bi-calendar-event"></i>
                        <span>@localizer["Date"]</span>
                    </div>
                    <div data-type="field" data-field="6" draggable="true" class="element col">
                        <i class="bi bi-calendar2-check"></i>
                        <span>@localizer["Datetime"]</span>
                    </div>
                    <div data-type="field" data-field="8" draggable="true" class="element col">
                        <i class="bi bi-file-earmark-image"></i>
                        <span>@localizer["Image"]</span>
                    </div>
                    <div data-type="field" data-field="7" draggable="true" class="element col">
                        <i class="bi bi-file-pdf"></i>
                        <span>@localizer["File"]</span>
                    </div>
                    <div data-type="field" data-field="12" draggable="true" class="element col">
                        <i class="bi bi-check2-square"></i>
                        <span>@localizer["Checkbox"]</span>
                    </div>
                    <div data-type="field" data-field="13" draggable="true" class="element col">
                        <i class="bi bi-link"></i>
                        <span>@localizer["Link"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@await Html.PartialAsync("./_FormPartTemplate.cshtml")
@await Html.PartialAsync("./_FieldTemplate.cshtml")
@await Html.PartialAsync("./_FormDialog.cshtml")
@await Html.PartialAsync("./_PartDialog.cshtml")
@await Html.PartialAsync("./_FieldDialog.cshtml")
