@using MtdKey.OrderMaker.Components
@model MTDCheckboxModel

@{
    string classIcon = @Model.Result ? "mtd-checkbox-icon-on" : "mtd-checkbox-icon-off";
}

<div class="mtd-checkbox" onclick="MtdCheckBoxClick('@Model.Id')">
    <span id="@Model.Id-mtd-checkbox-label" class="mtd-checkbox-label">
        @Model.Label
    </span>

    <span id="@Model.Id-mtd-checkbox-icon" class="@classIcon"></span>

    <input id="@Model.Id-mtd-checkbox-input" type="checkbox" name="@Model.Id-mtd-checkbox-input" style="display:none"
           value="@Model.Result" @if (Model.Result) { <text> checked</text>} />
</div>
