@model MtdKey.OrderMaker.Areas.Workplace.Pages.Store.DetailsModel
@namespace MtdKey.OrderMaker.Components.Store
@using Microsoft.AspNetCore.Mvc.Localization
@using static MtdKey.OrderMaker.Core.UserExtensions
@inject IHtmlLocalizer<SharedResource> Localizer


<table style="white-space: nowrap; border-collapse:collapse">
    <tr style="font-weight: 600">
        <td>
            <i class="material-icons" aria-hidden="true">assignment_ind</i>
        </td>
        <td>
            <span style="padding: 4px;">@Localizer["Owner"]</span>
</td>
        <td colspan="2">@Model.UserOwner.GetFullName()</td>
    </tr>

    <tr style="border-top: 1px solid #ccc;"><td></td><td>@Localizer["Created by"]</td><td style="width:100%">@Localizer[$"{Model.ChangesHistory.CreateByUser}"]</td><td>@Localizer[$"{Model.ChangesHistory.CreateByTime}"]</td></tr>
    <tr><td></td><td>@Localizer["Edited by"]</td><td>@Localizer[$"{Model.ChangesHistory.LastEditedUser}"]</td><td>@Localizer[$"{Model.ChangesHistory.LastEditedTime}"]</td></tr>

</table>

