@model DetailsModel
@using Microsoft.AspNetCore.Mvc.Localization
@using MtdKey.OrderMaker.Components.Controls
@using MtdKey.OrderMaker.Models.Controls.MTDSelectList
@inject IHtmlLocalizer<SharedResource> Localizer


<div id="dialog-print" class="mtd-dialog mtd-dialog-hidden noselect" style="max-width: 350px; text-transform: uppercase">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                <span>@Localizer["Print"]</span>
            </div>
            <div>
                <button mtd-dialog-cancel class="mdc-icon-button material-icons">close</button>
            </div>
        </div>
        <div class="mtd-dialog-content">

            <hr class="mdc-list-divider" />

            <div style="display: flex; flex-wrap:wrap;">
                <div class="mdc-form-field">
                    <div class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control"
                               id="print-form" checked />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                        <div class="mdc-checkbox__ripple"></div>
                    </div>
                    <label for="print-form">@Localizer["Document form"]</label>
                </div>
                <div class="mdc-form-field">
                    <div class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control"
                               id="print-info" />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                        <div class="mdc-checkbox__ripple"></div>
                    </div>
                    <label for="print-info">@Localizer["Document information"]</label>
                </div>

                @if (Model.IsFormApproval)
                {
                    <div class="mdc-form-field">
                        <div class="mdc-checkbox">
                            <input type="checkbox"
                                   class="mdc-checkbox__native-control"
                                   id="print-approval" />
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark"
                                     viewBox="0 0 24 24">
                                    <path class="mdc-checkbox__checkmark-path"
                                          fill="none"
                                          d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            <div class="mdc-checkbox__ripple"></div>
                        </div>
                        <label for="print-approval">@Localizer["Approval history"]</label>
                    </div>
                }
            </div>

            <hr class="mdc-list-divider" />

            <div class="mtd-dialog-buttons">
                <a id="print-button" mtd-dialog-cancel class="mdc-button mdc-button--raised mdc-theme--secondary-bg" target="_blank"
                   href="~/workplace/store/detailsprint?id=@Model.MtdStore.Id&printForm=true&printApproval=false&printInfo=false">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">@Localizer["Print"]</span>
                </a>
                <button mtd-dialog-cancel class="mdc-button" type="button">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">@Localizer["Cancel"]</span>
                </button>
            </div>

        </div>

    </div>
</div>
