@model DetailsModel
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="dialog-consider-approved" class="mtd-dialog mtd-dialog-hidden" style="max-width: 640px;">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                @Localizer["Approval Completion"]
            </div>            
            <div>
                <button mtd-dialog-cancel class="mdc-icon-button material-icons">close</button>
            </div>
        </div>
        <div class="mtd-dialog-content">
            <form mtd-data-form method="post" autocomplete='off' action='/api/store/approval/considered'>
                @Html.AntiForgeryToken()
                <input type="hidden" name="store-id" value="@Model.MtdStore.Id" />
                <input type="hidden" name="form-id" value="@Model.MtdStore.MtdFormId" />
                <input mtd-data-result type="hidden" name="result-value" value="@Model.MtdStore.Id" />

                <div class="mtd-dialog-info">
                    @Localizer["This action will complete the approval process in whatever state it is in with the resolution you selected: YES - Approve; NO - Reject."]
                </div>

                <div class="mtd-dialog-space"></div>

                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "comment-considered",
                       Name = "comment-considered",
                       Label = "Comment",
                       LabelLocalized = true,
                       Placeholder = "Create a comment if necessary",
                       PlaceholderLocalized = true,
                       Cols = 40,
                       Rows = 3,
                       MaxLength = 250,
                       MTDTexFieldView = MTDTextFieldViews.TextArea,
                   })

                <div class="mtd-dialog-buttons">
                    <button mtd-dialog-cancel mtd-data-clicker="yes" class="mdc-button mdc-button--outlined" type="button" mtd-data-message="@Localizer["Document is approved."]">
                        <div class="mdc-button__ripple"></div>
                        <i class="material-icons mdc-button__icon" aria-hidden="true" style="color: darkgreen">thumb_up</i>
                        <span class="mdc-button__label">@Localizer["Yes"]</span>
                    </button>
                    <button mtd-dialog-cancel mtd-data-clicker="no" class="mdc-button mdc-button--outlined" type="button" mtd-data-message="@Localizer["Document is rejected."]">
                        <div class="mdc-button__ripple"></div>
                        <i class="material-icons mdc-button__icon" aria-hidden="true" style="color: darkred">thumb_down</i>
                        <span class="mdc-button__label">@Localizer["No"]</span>
                    </button>
                    <button mtd-dialog-cancel class="mdc-button" type="button">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


