@model DetailsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="dialog-return" class="mtd-dialog mtd-dialog-hidden">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                @Localizer["Document return"]
            </div>
            <div>
                <button mtd-dialog-cancel class="mdc-icon-button material-icons">close</button>
            </div>
        </div>
        <div class="mtd-dialog-content">
            <form mtd-data-form method="post" autocomplete='off' action='/api/store/approval/reject/1'>
                @Html.AntiForgeryToken()
                <input type="hidden" name="id-store" value="@Model.MtdStore.Id" />
                <input type="checkbox" name="checkbox-complete" style="display: none" />
                <div class="mtd-dialog-info">
                    @Localizer["This operation does not complete the approval process and returns the document to the user for correction of errors."]
                </div>
                    <div class="mtd-dialog-space"></div>

                    @Localizer["Select a stage from the list:"]

                    <div class="mtd-dialog-space"></div>

                    @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
               {
                    Id = "select-stage",
                    Name = "next-stage",
                    Label = "Stage approval",
                    LabelLocalized = true,
                    Items = Model.Stages,
                    ValueId = Model.Stages.Select(x => x.Id).FirstOrDefault(),
                    MTDSelectListView = MTDSelectListViews.Outlined
               })
                

                <div class="mtd-dialog-space"></div>

                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
           {
               Id = "comment-return",
               Name = "comment-reject-id",
               Label = "Comment",
               LabelLocalized = true,
               Placeholder = "Create a comment if necessary",
               PlaceholderLocalized = true,
               Cols = 40,
               Rows = 3,
               MaxLength = 250,
               MTDTexFieldView = MTDTextFieldViews.TextArea,
           })

                <div class="mtd-dialog-buttons">
                    <button mtd-dialog-cancel mtd-data-clicker class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="button" mtd-data-message="@Localizer["Document is returned."]">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">@Localizer["Apply"]</span>
                    </button>
                    <button mtd-dialog-cancel class="mdc-button" type="button">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">@Localizer["Cancel"]</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>