@page
@model ChangePasswordModel

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
@inject MtdKey.OrderMaker.Services.UserHandler userHandler

@{
    ViewData["Title"] = Localizer["Password"];
    ViewData["SecondTitle"] = Localizer["Change account password"];
    ViewData["UserName"] = Model.UserName;
    ViewData["Message"] = Localizer["Your password has been changed."];
}

@section Breadcrumb {
    <li><a href="~/Identity/Account/Manage/">@Localizer["Account"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Action{
    <li class="mdc-list-item" role="menuitem" onclick="document.getElementById('users-confirm-password').click()">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">email</span>
        <span class="mdc-list-item__text">@Localizer["Send token to create a password"]</span>
    </li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" class="mdc-fab mdc-fab--extended" type="button">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>
    <div style="background-color: lightgray; color: dimgray; text-align: center; padding:8px;">

        <span> @Localizer["The password must be strong and consist of eight or more characters of the Latin alphabet, contain uppercase and lowercase letters, numbers."]</span>
        <br />
        <span>@Localizer["Also contain at least one character or punctuation mark: ! # @ $ % ^ & * ( ) _ - +"]</span>
    </div>
    <form mtd-data-form method="post" autocomplete="off" novalidate>
        <input id="clicker-save" type="hidden" mtd-data-clicker mtd-data-message="@ViewBag.Message" />

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "pwd-current",
                    Name = "Input.OldPassword",
                    Label = "Current password",
                    LabelLocalized = true,
                    IconLeading = "fas fa-key fa-lg",
                    MTDTexFieldView = MTDTextFieldViews.Default,
                    Type = "password",
                    HelperError = "You must enter your password in order to change your profile.",
                    HelperErrorLocalizer = true,
                    Required = true,
                    MtdInputClicker = true,
                    MtdDataMessage = @ViewBag.Message,
                })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "pwd-new",
                   Name = "Input.NewPassword",
                   Label = "New password",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Default,
                   Type = "password",
                   Required = true,
                   HelperText = "Click on the icon to create a strong password.",
                   HelperTextLocalizer = true,
                   IconTrailing = "fas fa-magic fa-lg",
                   IconTrailingString = "GeneratePassword()",

               })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "pwd-confirm",
                   Name = "Input.ConfirmPassword",
                   Label = "Confirm password",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Default,
                   Type = "password",
                   MtdInputClicker = true,
                   MtdDataMessage = @ViewBag.Message,
                   Required = true
               })
        </div>
    </form>

</div>

<form mtd-data-form method="post" autocomplete="off" enctype="multipart/form-data" action="~/api/users/admin/confirm/password">
    @Html.AntiForgeryToken()
    <input name="UserName" value="@Model.UserName" type="hidden" />
    <input id="users-confirm-password" mtd-data-clicker mtd-data-message="@Localizer["Message sent. Check your Email."]." type="hidden" />
</form>

<form id="generate-password-form" action="~/api/common/password/generate" method="post">
    @Html.AntiForgeryToken()
</form>


@section Scripts{
    <script src="~/lib/mtd-ordermaker/identity/js/mtd-identity-password.js" asp-append-version="true"></script>
}


