@model EditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer


<input id="group-container" type="hidden" name="groupContainer" value="@Model.SelectedGroupIds" />

<div id="dialog-group-add" class="mtd-dialog mtd-dialog-hidden" style="max-width: 640px; top: 0;">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                @Localizer["Add group for user"]
            </div>
            <div>
                <button type="button" mtd-dialog-cancel class="mdc-icon-button material-icons">close</button>
            </div>
        </div>
        <div class="mtd-dialog-content">


            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
               {
                   Id = "group-list",
                   Name = "groupList",
                   Label = "Groups",
                   LabelLocalized = true,
                   Items = Model.GroupList,
                   MTDSelectListView = MTDSelectListViews.Outlined
               })

            <div class="mtd-dialog-buttons">
                <button mtd-dialog-apply type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" onclick="OnAddGroup()">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label" style="color: red">@Localizer["Add"]</span>
                </button>
                <button mtd-dialog-cancel type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">@Localizer["Close"]</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="noselect" style="padding: 4px 36px 4px 36px;">
    <div style="flex-grow: 1; padding: 24px 8px 8px 8px;">
        <div style="position:relative">
            <div style="position: absolute; padding: 4px; top: -16px; left: 12px; background-color:white;font-weight: 500; z-index:1;">
                @Localizer["Groups user"]
            </div>
        </div>
        <div style="border: 1px solid lightgray; padding: 8px; position:relative;">
            <div id="group-selected-list" style="display: flex; flex-wrap:wrap;">
                <div style="padding: 4px; background-color: white; width: 100%" class="mdc-elevation--z1">
                    <button mtd-dialog-button="dialog-group-add" type="button" class="mdc-button">
                        <div class="mdc-button__ripple"></div>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                        <span class="mdc-button__label">@Localizer["Add group"]</span>
                    </button>
                </div>

                @{string display = Model.SelectedGroups.Count > 0 ? "none" : ""; }

                <div id="group-not-selected" style="padding: 8px; display: @display">
                    <strong>@Localizer["Group not selected"]</strong>
                </div>

                @foreach (var group in Model.SelectedGroups)
                {
                    <div id="@group.Id-group-block" style="margin: 4px; padding:4px; display: flex; align-items:center; background-color:  whitesmoke; border-radius: 15px;  overflow:hidden; width: 100%" class="mdc-elevation--z1">
                        <div style="flex-grow: 1">
                            <div style="padding: 2px;">
                                <i class="fas fa-user-friends fa-lg" style="color: gray"></i>
                                <span data-content="groupName">
                                    @group.Name
                                </span>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="mdc-icon-button material-icons" onclick="OnDeleteGroup('@group.Id')">
                                close
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<template id="tmpl">
    <div id="groupBlock" data-content="root" style="margin: 4px; padding:4px; display: flex; align-items:center; background-color: whitesmoke; border-radius: 15px;  overflow:hidden; width: 100%" class="mdc-elevation--z1">
        <div style="flex-grow: 1">
            <div style="padding: 2px">
                <i class="fas fa-user-friends fa-lg" style="color: gray"></i>
                <span data-content="groupName">
                    groupName
                </span>
            </div>
        </div>
        <div>
            <button type="button" class="mdc-icon-button material-icons">
                close
            </button>
        </div>
    </div>
</template>


@*<div class="mtd-users-wrap noselect">
        <div style="flex-grow: 1; padding: 24px 8px 8px 8px;">
            <div style="position:relative">
                <div style="position: absolute; padding: 4px; top: -16px; left: 12px; background-color:white;font-weight: 500; z-index:1;">
                    @Localizer["Groups user"]
                </div>
            </div>
            <div style="border: 1px solid lightgray; padding: 8px; position:relative;">
                <div style="display: flex; flex-wrap:wrap;">
                    @if (!Model.MtdGroups.Any())
                    {
                        <span style="padding: 4px;">
                            @Localizer["No groups to select"]
                        </span>
                    }
                    @foreach (var group in Model.MtdGroups)
                    {

                        bool checkGroup = Model.GroupIds.Contains(group.Id);

                        <div style="margin: 4px; padding:4px; display: flex; background-color: whitesmoke; border-radius: 15px; width: 200px;  overflow:hidden;">
                            <div class="mdc-form-field">
                                <div class="mdc-checkbox">
                                    <input type="checkbox"
                                           class="mdc-checkbox__native-control"
                                           id="@group.Id-group" name="@group.Id-group" @if (checkGroup) { <text> checked</text>} />
                                    <div class="mdc-checkbox__background">
                                        <svg class="mdc-checkbox__checkmark"
                                             viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path"
                                                  fill="none"
                                                  d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                        </svg>
                                        <div class="mdc-checkbox__mixedmark"></div>
                                    </div>
                                </div>
                                <label for="@group.Id-group" style="cursor:pointer">@group.Name</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@