@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Accounts"];
    ViewData["SecondTitle"] = Localizer["User list"];
    int counter = 0;
}

@section Breadcrumb {
    <li><a style="cursor:pointer" mtd-data-url="/identity/users">@Localizer["Users"]</a></li>
    <li>@ViewBag.Title</li>
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/users/css/mtd-users.css" asp-append-version="true" />
}


<div class="mtd-desk">

    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-url="/identity/users/accounts/create" class="mdc-fab mdc-fab--extended" aria-label="Create" type="button">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">person_add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>
    
    <form id="form-search" method="get" autocomplete='off' novalidate>
        <div>
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "search-text",
                    Name = "searchText",
                    Placeholder = "Search for text",
                    PlaceholderLocalized = true,
                    Value = Model.SearchText,
                    IconLeading = "fas fa-search"
                })
        </div>

        <div style="padding-left: 16px; padding-right:16px; display: flex; align-items: center">
            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
           {
               Id = "filter-group",
               Name = "filterGroup",
               Label = "Group",
               LabelLocalized = true,
               Items = Model.GroupItems,
           })
        </div>
        <button style="display: none;">SEND</button>
    </form>

</div>


<div class="mtd-users-rows">
    <div style="padding-left: 16px; padding-right:16px;">
        <table>
            <thead>
                <tr>
                    <th>@Localizer["No."]</th>
                    <th style="padding-left: 16px">
                        @Localizer["Display Name & Email"]
                    </th>
                    <th>
                        @Localizer["Policy"]
                    </th>
                    <th>
                        @Localizer["Role"]
                    </th>
                    <th>
                        @Localizer["Email status"]
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.Accounts.OrderBy(x => x.User.TitleGroup).ThenBy(x => x.User.Title))
                {
                    counter++;

                    <tr mtd-data-url="/identity/users/accounts/edit?id=@person.User.Id">
                        <td>
                            @counter
                        </td>
                        <td>
                            <strong>@person.User.Title</strong>
                            <br />
                            <i class="fas fa-envelope" style="color: gray"></i>
                            @person.User.Email
                        </td>
                        <td style="width:100%">
                            @if (person.MtdPolicy != null)
                            {
                                @person.MtdPolicy.Name
                            }
                        </td>
                        <td>
                            @{
                                string color2 = person.Role.NormalizedName == "ADMIN" ? "darkred" : "gray";
                            }
                            <div style="display: inline-block; vertical-align: central; padding: 5px 5px 7px 5px; font-size: small; font-weight: 500; background-color: @color2; box-sizing:border-box; border-radius: .25em; color: white">
                                @person.Role.Title
                            </div>
                        </td>
                        <td>
                            @{
                                string color = person.User.EmailConfirmed ? "green" : "red";
                            }
                            <i class="material-icons" style="color: @color">verified_user</i>
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script>
        const searchText = new MTDTextField("search-text");
        const filterGroup = new MTDSelectList("filter-group");

        searchText.input.addEventListener("keydown", (e) => {
            if (e.keyCode == 13) {
                ActionShowModal(true);
            }
        });

        filterGroup.selector.listen('MDCSelect:change', () => {
            ActionShowModal(true);
            document.getElementById("form-search").submit();
        });

    </script>
}