@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Index.FooterModelView

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="mtd-index-footer">

    <form mtd-data-form method="post" action="~/api/index/pagemove" enctype="multipart/form-data" style="width: 100%" autocomplete='off'>
        @Html.AntiForgeryToken()
        <input name="formId" value="@Model.FormId" type="hidden" />
        <input mtd-data-result name="formValue" type="hidden" />
        <input name="pageCount" type="hidden" value="@Model.PageCount" />

        <div class="mtd-index-footer-pages">
            @if (Model.Page > 1)
            {
                <div class="mtd-index-footer-button">
                    <a mtd-data-clicker="1" href="#">
                        <i class="fas fa-angle-double-left fa-lg"></i>
                    </a>
                </div>
                <div class="mtd-index-footer-button">
                    <a mtd-data-clicker="2" href="#">
                        <i class="fas fa-angle-left fa-lg"></i>
                    </a>
                </div>
            }

            <div>
                @Localizer["Page"] @Model.Page @Localizer["of"] @Model.PageCount
            </div>

            @if (Model.Page < Model.PageCount)
            {
                <div class="mtd-index-footer-button">
                    <a mtd-data-clicker="3" href="#"><i class="fas fa-angle-right fa-lg"></i></a>
                </div>

                <div class="mtd-index-footer-button">
                    <a mtd-data-clicker="4" href="#">
                        <i class="fas fa-angle-double-right fa-lg"></i>
                    </a>
                </div>
            }
        </div>
    </form>

    <div class="mtd-index-footer-pageSize">
        <div style="white-space:nowrap">@Localizer["Page size:"]</div>
        <div class="mdc-menu-surface--anchor">
            <div mtd-data-page="@Model.FormId" class="mdc-ripple-surface mdc-ripple-surface--accent">
                <div class="mtd-index-footer-sizeButton">@Model.PageSize</div>
            </div>
            <div id="indexPageMenu" class="mdc-menu mdc-menu-surface">
                <ul id="indexMenuSize" class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                    <li class="mdc-list-item" role="menuitem" data-value="10">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text" data-value="10">10</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem" data-value="20">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text" data-value="20">20</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem" data-value="30">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text" data-value="30">30</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem" data-value="40">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text" data-value="40">40</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem" data-value="50">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text" data-value="50">50</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem" data-value="100">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text" data-value="100">100</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>





