@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@
@page
@model CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["New approval flow"];
    ViewData["SecondTitle"] = Localizer["Creating new approval chain"];
}

@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/approval">@Localizer["Approvals"]</a></li>
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-create" type="button" class="mdc-fab mdc-fab--extended">
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>

    <form mtd-data-form method="post" autocomplete="off" novalidate>
        <input type="hidden" asp-for="MtdApproval.Id" />
        <input type="hidden" id="clicker-create"
               mtd-data-clicker mtd-data-location="/config/approval/edit?id=@Model.MtdApproval.Id"
               mtd-data-message="@Localizer["New approval flow created."]" />

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
            {
                Id = "select-form",
                Name = "MtdApproval.MtdForm",
                Label = "Form Approval Chain",
                LabelLocalized = true,
                Items = Model.FormItems,
                MTDSelectListView = MTDSelectListViews.Outlined,
                //ValueId = Model.FormItems.Select(x=>x.Id).FirstOrDefault()
            })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
            {
                Id = "field-name",
                Name = "MtdApproval.Name",
                Label = "Name",
                LabelLocalized = true,
                Required = true,
                MTDTexFieldView = MTDTextFieldViews.Outlined,
            })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
            {
                Id = "field-note",
                Name = "MtdApproval.Description",
                Label = "Description",
                LabelLocalized = true,
                Required = true,
                MTDTexFieldView = MTDTextFieldViews.TextArea,
                Cols = 40,
                Rows = 5,
                MaxLength = 250
            })
        </div>
    </form>
</div>

<form mtd-data-form method="post" autocomplete="off" novalidate>
    <input type="hidden" asp-for="MtdApproval.Id" />
    <input type="hidden" id="clicker-create"
           mtd-data-clicker mtd-data-location="/config/approval/edit?id=@Model.MtdApproval.Id"
           mtd-data-message="@Localizer["New approval chain was created."]" />


    @*<div style="display: flex; flex-direction: column; align-items:center">
            <div id="basedSelect" class="mdc-select" style="width: 100%; max-width: 600px">
                <i class="mdc-select__dropdown-icon"></i>
                <select class="mdc-select__native-control" asp-for="MtdApproval.MtdForm" asp-items="ViewBag.Forms"></select>
                <label for="basedSelect" class="mdc-floating-label mdc-floating-label--float-above">@Localizer["Form Approval Chain"]</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div id="config-form-name" class="mdc-text-field mdc-text-field--outlined" style="width: 100%; max-width: 600px; margin-top: 16px;">
                <input type="text" id="tf-outlined" mtd-required="config-form-name" class="mdc-text-field__input" asp-for="MtdApproval.Name" required />
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="tf-outlined" class="mdc-floating-label">@Localizer["Name"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                    @Localizer["Required field"]
                </div>
            </div>
            <div id="config-form-description" class="mdc-text-field mdc-text-field--textarea" style="width: 100%; max-width:600px; margin-top: 16px;">
                <textarea id="textarea" mtd-required="config-form-description" class="mdc-text-field__input" rows="3" cols="40" asp-for="MtdApproval.Description" required></textarea>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="textarea" class="mdc-floating-label">@Localizer["Description"]</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                    @Localizer["Required field"]
                </div>
            </div>
        </div>*@

</form>

@section Scripts{
    <script>
        new MTDSelectList("select-form");
        new MTDTextField("field-name");
        new MTDTextField("field-note");
    </script>
}
