@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model StageEditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Edit approval stage"];
    ViewData["SecondTitle"] = Localizer["Editing a Stage in a Chain"];
    ViewData["UserItems"] = Model.UserItems;
}


@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/approval">@Localizer["Approvals"]</a></li>
    <li><a href="~/config/approval/edit?id=@Model.MtdApproval.Id">@Localizer["Approval editor"]</a></li>
    <li><a href="~/config/approval/stages?idApproval=@Model.MtdApproval.Id">@Localizer["Stages list"]</a></li>
    <li>@ViewBag.Title</li>
}


@section Action {
    <li class="mdc-list-item" role="menuitem" mtd-data-url="/config/approval/resolutions/index?stage=@Model.MtdApprovalStage.Id">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">thumb_up</span>
        <span class="mdc-list-item__text">@Localizer["Resolution list"]</span>
    </li>
    <li class="mdc-list-item" role="menuitem" mtd-data-url="/config/approval/rejections/index?stage=@Model.MtdApprovalStage.Id">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">thumb_down</span>
        <span class="mdc-list-item__text">@Localizer["Rejection list"]</span>
    </li>
    <li class="mdc-list-divider"></li>
    <li mtd-data-delete class="mdc-list-item" role="menuitem">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">delete</span>
        <span class="mdc-list-item__text">@Localizer["Delete"]</span>
    </li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" type="button" class="mdc-fab mdc-fab--extended">
                <div class=""></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>
</div>

<form mtd-data-form method="post" autocomplete="off" action="~/api/config/approval/stage/edit" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="MtdApprovalStage.Id" name="stageId" />
    <input type="hidden" id="clicker-save"
           mtd-data-clicker mtd-data-location="/config/approval/stages?idApproval=@Model.MtdApproval.Id"
           mtd-data-message="@Localizer["Changes saved."]" />

    @await Html.PartialAsync("~/Areas/Config/Pages/Approval/Partials/StageEditFields.cshtml", Model.MtdApprovalStage)

        <div style="text-align: center; background-color: lightgray; color: dimgray; padding:4px;">
            @Localizer["Parts of the form that will be uneditable after approval"]
        </div>
        @await Html.PartialAsync("~/Areas/Config/Pages/Approval/Partials/StageEditParts.cshtml", Model)


</form>

@await Html.PartialAsync("~/Areas/Config/Pages/Approval/Partials/StageEditDialogDelete.cshtml", Model)


@section Scripts {
    <script>
        const dialog = new mdc.dialog.MDCDialog(document.getElementById('dialog-delete'));
        if (dialog) {
            document.querySelector('[mtd-data-delete]').addEventListener('click', () => {
                dialog.open();
            });
        }

        new MTDTextField("field-name");
        new MTDTextField("field-note");
        new MTDTextField("field-stage");
        new MTDSelectList("select-user");      
        
    </script>
}