@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

*@

@page
@model StagesModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@using  Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> SLocalizer

@{
    ViewData["Title"] = Localizer["Stages list"];
    ViewData["SecondTitle"] = $"{SLocalizer["Approval chain management"]}: {Model.MtdApproval.Name}";
}

@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/approval">@Localizer["Approvals"]</a></li>
    <li><a href="~/config/approval/edit?id=@Model.MtdApproval.Id">@Localizer["Approval editor"]</a></li>
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px;">
            <button mtd-data-url="/config/approval/stagecreate?idApproval=@Model.MtdApproval.Id" class="mdc-fab mdc-fab--extended" aria-label="Create">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>

    <form mtd-data-form="sequence" method="post" action="~/api/config/approval/stage/sequence">
        @Html.AntiForgeryToken()
        <input mtd-data-sequence name="drgData" type="hidden" />
        <input name="IdApproval" type="hidden" value="@Model.MtdApproval.Id" />
        <input mtd-data-clicker type="hidden" />
    </form>

    <ul mtd-data-draggable class="mdc-list mdc-list--two-line">
        @foreach (var stage in Model.Stages)
        {
            <li mtd-data-url="/config/approval/stageEdit?id=@stage.Id" id="@stage.Id-licol" class="mtd-list-item mdc-list-item" data-value="@stage.Id" draggable="true" role="button" aria-checked="false">
                <div style="padding: 8px;">
                    <span class="mdc-list-item__ripple"></span>
                    @{
                        int endStage = Model.Stages.Max(x => x.Stage);
                    }
                    @if (stage.Stage < endStage)
                    {<i class="material-icons">arrow_downward</i> }
                    else
                    { <i class="material-icons">done</i>}

                    @stage.Stage
                </div>
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__primary-text">@stage.Name</span>
                    <span class="mdc-list-item__secondary-text">@stage.Description</span>
                </span>
                <div class="mtd-desk-draggable-bedit">
                    <button class="mdc-icon-button"
                            aria-label="edit"
                            aria-hidden="true"
                            aria-pressed="false">
                        <i class="material-icons mdc-icon-button__icon">edit</i>
                    </button>
                    <button mtd-data-url="/config/approval/resolutions/index?stage=@stage.Id" class="mdc-icon-button" onclick="event.stopPropagation();"
                            aria-label="edit"
                            aria-hidden="true"
                            aria-pressed="false">
                        <i class="material-icons mdc-icon-button__icon">thumb_up</i>
                    </button>
                    <button mtd-data-url="/config/approval/rejections/index?stage=@stage.Id" class="mdc-icon-button" onclick="event.stopPropagation();"
                            aria-label="edit"
                            aria-hidden="true"
                            aria-pressed="false">
                        <i class="material-icons mdc-icon-button__icon">thumb_down</i>
                    </button>
                </div>
                <div class="mtd-desk-draggable-bdrag">
                    <i class="material-icons" style="color:gray">drag_handle</i>
                </div>
            </li>
        }
    </ul>
</div>


