@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model StageCreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["New approval stage"];
    ViewData["SecondTitle"] = Localizer["Creating a stage in the chain"];
}

@section Breadcrumb {
    <li><a href="~/config">@Localizer["Configurator"]</a></li>
    <li><a href="~/config/approval">@Localizer["Approvals"]</a></li>
    <li><a href="~/config/approval/edit?id=@Model.MtdApproval.Id">@Localizer["Approval editor"]</a></li>
    <li><a href="~/config/approval/stages?idApproval=@Model.MtdApproval.Id">@Localizer["Stages list"]</a></li>
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px;">
            <button mtd-data-clicker-by="clicker-create" type="button" class="mdc-fab mdc-fab--extended">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>

    <form mtd-data-form method="post" autocomplete="off" action="~/api/config/approval/stage/create" novalidate>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="MtdApproval.Id" name="approvalId" />    
        <input type="hidden" id="clicker-create" mtd-data-clicker
               mtd-data-location="/config/approval/stages?idApproval=@Model.MtdApproval.Id"
               mtd-data-message="@Localizer["New approval chain was created."]" />

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
            {
                Id = "field-name",
                Name = "fieldName",
                Label = "Name",
                LabelLocalized = true,
                Required = true,
                MTDTexFieldView = MTDTextFieldViews.Outlined,
            })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
            {
                Id = "field-note",
                Name = "fieldNote",
                Label = "Description",
                LabelLocalized = true,
                Required = true,
                MTDTexFieldView = MTDTextFieldViews.TextArea,
                Cols = 40,
                Rows = 5,
                MaxLength = 250
            })
        </div>
    </form>
</div>


@section Scripts{
    <script>
        new MTDTextField("field-name");
        new MTDTextField("field-note");
    </script>
}