@model Models.Index.SelectorModelView
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="index-filter-service-period">
    <form mtd-data-form method="post" action="~/api/filter/service/add/date" enctype="multipart/form-data" autocomplete='off'>
        @Html.AntiForgeryToken()
        <input name="form-id" value="@Model.FormId" type="hidden" /> 
        <input name="date-format" value="@Localizer["MM/dd/yyyy"]" type="hidden" />

        <div class="index-filter-content-tab-second">
            <div class="index-filter-content-tab-second--full">
                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                    {
                        Id = "index-filter-date-start",
                        Label = "Date start",
                        Value = " ",
                        LabelLocalized = true,
                        IconLeading = "far fa-calendar-alt",
                        Name = "date-start",
                        Class = " mtd-data-datepicker ",
                        MTDTexFieldView = MTDTextFieldViews.Outlined
                    })
            </div>
            <div class="index-filter-content-tab-second--separator"></div>
            <div class="index-filter-content-tab-second--full">
                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                   {
                       Id = "index-filter-date-finish",
                       Label = "Date finish",
                       Value = " ",
                       LabelLocalized = true,
                       IconLeading = "far fa-calendar-alt",
                       Name = "date-finish",
                       Class = " mtd-data-datepicker ",
                       MTDTexFieldView = MTDTextFieldViews.Outlined
                   })
            </div>
        </div>

        <div class="index-filter-content-tab-foot">
            <button mtd-dialog-cancel mtd-data-clicker class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">@Localizer["Apply"]</span>
            </button>
            <button mtd-dialog-cancel class="mdc-button" type="button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">@Localizer["Cancel"]</span>
            </button>
        </div>
    </form>
</div>

