@model Models.Index.SelectorModelView
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="index-filter-custom" class="index-filter-content-tab" style="display: none">
    
    <div class="index-filter-content-tab-first">
        @await Html.PartialAsync("./_tabCustomFields.cshtml")
    </div>

    <div class="index-filter-content-tab-second">
        <div>
            @await Html.PartialAsync("./_tabCustomAction.cshtml")
        </div>

        <div id="custom-separ" class="index-filter-content-tab-second--separator"></div>

        <div id="index-filter-custom-text" class="index-filter-content-tab-second--grow" style="display: none;">
            @await Html.PartialAsync("./_tabCustomText.cshtml")
        </div>
        <div id="index-filter-custom-int" class="index-filter-content-tab-second--grow" style="display: none;">
            @await Html.PartialAsync("./_tabCustomInt.cshtml")
        </div>
        <div id="index-filter-custom-bool" class="index-filter-content-tab-second--grow" style="display: none;">
            @await Html.PartialAsync("./_tabCustomBool.cshtml")
        </div>
        <div id="index-filter-custom-list" class="index-filter-content-tab-second--grow" style="display: none;">
            @await Html.PartialAsync("./_tabCustomList.cshtml")
        </div>
        <div id="index-filter-custom-date" class="index-filter-content-tab-second--grow" style="display: none;">
            @await Html.PartialAsync("./_tabCustomDate.cshtml")
        </div>
    </div>

    <form mtd-data-form action="~/api/filter/custom/add" method="post" autocomplete="off">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.FormId" name="form-id" />
        <input type="hidden" id="index-filter-custom-result-id" name="field-id" />
        <input type="hidden" id="index-filter-custom-result-type" name="field-type" />
        <input type="hidden" id="index-filter-custom-result-action" name="field-action" />
        <input type="hidden" id="index-filter-custom-result-value" name="field-value" />
        <input type="hidden" id="index-filter-custom-result-value-ext" name="field-value-ext" />
        <input type="hidden" id="index-filter-custom-date-locale" name="date-format" value="@Localizer["MM/dd/yyyy"]" />

        <div class="index-filter-content-tab-foot">
            <button mtd-dialog-cancel mtd-data-clicker class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">@Localizer["Apply"]</span>
            </button>
            <button mtd-dialog-cancel class="mdc-button" type="button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">@Localizer["Cancel"]</span>
            </button>
        </div>
    </form>
</div>

