@page
@model ResetPasswordModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Reset password"];
}

<div class="mdc-elevation--z8 identity-box">
    <partial name="./_ImgHeader" />
    <div style="text-align: center">
        <span style="font-size:medium; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
    </div>
    <div style="background-color: lightgray; color: dimgray; text-align: center; padding:8px;">
        <span> @Localizer["The password must be strong and consist of eight or more characters of the Latin alphabet, contain uppercase and lowercase letters, numbers."]</span>
        <br />
        <span>@Localizer["Also contain at least one character or punctuation mark: ! # @ $ % ^ & * ( ) _ - +"]</span>
    </div>
    <form method="post" autocomplete="off" novalidate>
        <input asp-for="Input.Code" type="hidden" />
        <div asp-validation-summary="All" style="color: red"></div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "user-name",
                    Name = "Input.UserName",
                    Label = "Login name",
                    LabelLocalized = true,
                    IconLeading = "fas fa-user fa-lg",
                    MTDTexFieldView = MTDTextFieldViews.Default,
                    Required = true,
                    MtdInputClicker = true,
                })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "pwd-new",
                   Name = "Input.Password",
                   Label = "New password",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Default,
                   Type = "password",
                   Required = true,
                   HelperText = "Click on the icon to create a strong password.",
                   HelperTextLocalizer = true,
                   IconTrailing = "fas fa-magic fa-lg",
                   IconTrailingString = "GeneratePassword()"

               })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "pwd-confirm",
                   Name = "Input.ConfirmPassword",
                   Label = "Confirm password",
                   LabelLocalized = true,
                   MTDTexFieldView = MTDTextFieldViews.Default,
                   Type = "password",
                   MtdInputClicker = true,
                   Required = true
               })
        </div>    

        <div style="padding-top: 24px; text-align: right">
            <button class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="submit">
                <div class="mdc-button__ripple"></div>
                @Localizer["Next"]
            </button>
        </div>
    </form>
</div>

<form id="generate-password-form" action="~/api/common/password/generate" method="post">
    @Html.AntiForgeryToken()
</form>

@section Scripts{
    <script src="~/lib/mtd-ordermaker/identity/js/mtd-identity-password-reset.js" asp-append-version="true"></script>
}