@page
@model MtdKey.OrderMaker.Areas.Identity.Pages.Account.TokenLoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> localizer

@{
    ViewData["Title"] = "Token Login";
}

<center>

    <div class="mdc-elevation--z8 identity-box" style="margin: 12px">
        <partial name="./_ImgHeader" />

        <form id="formToken" method="post">
            <input type="hidden" asp-for="Token" />
        </form>

        <hr />

        <div id="waitBlock" >
            <center>@localizer["Please wait. Your login is being created..."]</center>
            <center>
                <img style="margin-top: 8px; height: 64px;" src="~/lib/mtd-ordermaker/images/loading.gif" />
            </center>
        </div>

        <div id="errorBlock" style="text-align: center; color: red; display: none"></div>

        <div id="completeBlock" style="display: none">
            <center>
                <span style="color: green; font-weight: bold">@localizer["The login operation was successful."]</span>
                <br />@localizer["You are logged in with a random password."]
            </center>

            <div style="text-align: left !important; margin-top: 8px;">
                @localizer["If you want to change your password, use the password recovery service on the user management page or the 'Forgot your password?' link on the login page."]
            </div>

            <div style="margin-top: 16px">
                <a href="~/" class="mdc-button mdc-button--raised">@localizer["Continue"]</a>
            </div>
        </div>
    </div>
</center>

@section Scripts {
    <script src="~/lib/mtd-ordermaker/main/js/mtd-main.js"
        asp-append-version="true">
    </script>
    <script src="~/lib/mtd-ordermaker/identity/js/mtd-identity-tokenlogin.js" 
        asp-append-version="true">
    </script>
}