@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocFieldModel

@{
    ViewBag.FieldID = Model.Id;
    ViewBag.FieldName = "";
    if (Model != null)
    {
        ViewBag.FileName = Model.FileName;
    }

    string required = Model.Required ? "required" : string.Empty;
}

@if(!Model.Readonly)
{
    
<div class="mtd-store-edit-col-root-file">
    <div class="mtd-store-edit-col-name">
        @Model.Name
    </div>
    <div class="mtd-store-edit-col-value">
        <div class="mtd-field-file-choose">
            <div class="mtd-field-file-selector-fon"></div>
            <div class="mtd-field-file-selector" mtdSelector="@ViewBag.FieldID">
                <input type="file" id="@ViewBag.FieldID" 
                    name="field-@ViewBag.FieldID" 
                    value="@Model.Value" 
                    style="display: none;"
                     @required />
                <input type="checkbox" id="@ViewBag.FieldID-delete" name="@ViewBag.FieldID-delete" style="display: none;" />
            </div>
            <div id="@{@ViewBag.FieldID}-href" class="mtd-field-file-info">
                <a href="~/api/store/stack/form/@Model.FormId/file/@Model.Id/store/@Model.StoreId" download="@ViewBag.FileName">@ViewBag.FileName</a>
            </div>
            <div id="@{@ViewBag.FieldID}-select" class="mtd-field-file-info" hidden>
            </div>
            <div id="@{@ViewBag.FieldID}-strike" class="mtd-field-file-info" hidden>
                <strike style='color:red'>
                    <span>@ViewBag.FileName</span>
                </strike>
            </div>
            <div id="@ViewBag.FieldID-action-delete" class="mtd-field-action-delete" hidden></div>
            <div id="@ViewBag.FieldID-action-undo" class="mtd-field-action-undo" hidden></div>
        </div>
    </div>
</div>
}






