@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model IndexModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Desktop"];
    ViewData["SecondTitle"] = Localizer["Database selection"];
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel"></div>

    <form id="desktopFormText" method="get" autocomplete='off' novalidate>
        @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
           {
               Id = "search-text",
               Name = "searchText",
               Value = Model.SearchText,
               IconLeading = "fa fa-search",
               Placeholder = "Search for text",
               PlaceholderLocalized = true,
           })
    </form>


    <div style="display: flex; flex-wrap:wrap; align-items: center">
        @foreach (var form in Model.Forms.OrderBy(x => x.Sequence))
        {
            var imgSrc = "";
            var colorFont = "white";
            var colorBack = "gray";

            if (form.MtdFormDesk != null)
            {
                var base64 = Convert.ToBase64String(form.MtdFormDesk.Image);
                imgSrc = String.Format("data:{0};base64,{1}", form.MtdFormDesk.ImageType, base64);
                colorFont = form.MtdFormDesk.ColorFont;
                colorBack = form.MtdFormDesk.ColorBack;
            }

            <div class="mdc-card" style="width: 290px; margin: 8px;">
                <div mtd-data-url="/workplace/store?indexform=@form.Id" class="mdc-card__primary-action" tabindex="0">
                    <div class="mdc-card__media mdc-card__media--16-9 demo-card__media"
                         style="background-color: @colorBack; background-image: url(&quot;@imgSrc&quot;);">
                        <div class="mdc-card__media-content" style="display: flex; align-items: flex-end; color: @colorFont">
                            <div style="padding: 0.7rem; width: 100%;">
                                @if (form.MtdFormHeader != null)
                                {
                                    var base64 = Convert.ToBase64String(form.MtdFormHeader.Image);
                                    var imgSrc2 = String.Format("data:{0};base64,{1}", form.MtdFormHeader.ImageType, base64);

                                    <img src="@imgSrc2" style="max-height: 48px; max-width: 150px; position: absolute; top: 4px" />
                                }

                                <p class="mdc-typography mdc-typography--headline6" style="margin:24px; font-size: 22px; line-height: 1.2rem;">@form.Name</p>
                                <hr />
                                @*<span class="mdc-typography mdc-typography--subtitle2" style="margin:0; font-size: medium; text-transform:lowercase">Раздел: @form.MtdGroupNavigation.Name</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
    <script>
        new MTDTextField("search-text");
    </script>
}