@model StageEditModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<input type="hidden" id="dialog-resolution-id" />

<div id="dialog-resolution" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="dialog-resolution-title"
     aria-describedby="dialog-resolution-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">
                @Localizer["Resolution"]
            </h2>
            <div class="mdc-dialog__content" id="dialog-resolution-content">
                <div style="padding:4px;">
                    <div class="mdc-text-field mdc-text-field--fullwidth">
                        <input id="dialog-resolution-name" name="dialog-resolution-name" class="mdc-text-field__input"
                               type="text"
                               placeholder="Name resolution"
                               aria-label="Name resolution">
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="display: flex; flex-direction:column;">
                        <div style="padding:4px;">
                            <div class="mdc-text-field mdc-text-field--fullwidth">
                                <input id="dialog-resolution-number" name="dialog-resolution-number" class="mdc-text-field__input"
                                       type="number"
                                       placeholder="Number"
                                       aria-label="Number">
                            </div>
                        </div>
                        <div style="padding: 12px 4px 4px 4px; height: 100%;">
                            <label for="dialog-resolution-color">@Localizer["Color"]</label>
                            <input id="dialog-resolution-color" name="dialog-resolution-color" type="color">
                        </div>
                    </div>
                    <div style="padding: 4px;">
                        <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">
                            <textarea id="dialog-resolution-note" name="dialog-resolution-note" class="mdc-text-field__input" rows="3" cols="40" aria-label="Label" placeholder="Note"></textarea>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mdc-dialog__actions">
                <div style="display: flex">
                    <div>
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                            <span class="mdc-button__label">@Localizer["Cancel"]</span>
                        </button>
                    </div>
                    <div style="display: none">
                        <button id="button-dialog-create" type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" onclick="createResolution()">
                            <span class="mdc-button__label">@Localizer["Create"]</span>
                        </button>
                    </div>
                    <div style="display: none">
                        <button id="button-dialog-apply" type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" onclick="changeResolution()">
                            <span class="mdc-button__label">@Localizer["Apply"]</span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

<div id="dialog-resolution-delete" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">
                @Localizer["Deleting resolution"]
            </h2>
            <div class="mdc-dialog__content">
                @Localizer["Delete resolution from list?"]
                <input id="dialog-resolution-delete-guid" type="hidden" />
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <span class="mdc-button__label">@Localizer["No"]</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" onclick="deleteResolution()">
                    <span class="mdc-button__label">@Localizer["Yes"]</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>


<ul id="ul-resolution-fake" style="display:none">
    <li id="ID-resolution-li" class="mdc-list-item" tabindex="0" onclick="clickResolutionEdit(event)">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text" style="padding: 4px;">
            <span id="ID-span-name" style="color: BLACK" class="mdc-list-item__primary-text">NAME</span>
            <span id="ID-span-note" style="color: BLACK" class="mdc-list-item__secondary-text">NOTE</span>
        </span>
        <span class="mdc-list-item__meta material-icons" aria-hidden="true">
            <button id="ID-delete-button" type="button" class="mdc-icon-button material-icons" onclick="clickDeleteDialog(event)">delete</button>
        </span>
        <input id="ID-resolution" name="ID-resolution-id" value="ID" style="display:none" />
        <input id="ID-resolution-name" name="ID-resolution-name" value="NAME" style="display:none" />
        <input id="ID-resolution-note" name="ID-resolution-note" value="NOTE" style="display:none" />
        <input id="ID-resolution-number" name="ID-resolution-number" value="NUMBER" style="display:none" />
        <input id="ID-resolution-color" name="ID-resolution-color" value="BLACK" style="display:none" />
    </li>
</ul>