@model StageEditModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer




<div class="mtd-desk-fields noselect" style="display: flex; flex-wrap:wrap; align-items:center; align-self:center">
    @foreach (var part in Model.MtdFormParts)
    {
        bool checkPart = @Model.MtdApprovalStage.BlockParts.Contains(part.Id);

        <div class="mtd-desk-field mtd-desk-field--border">
            <div class="mdc-form-field">
                <div class="mdc-checkbox">
                    <input type="checkbox"
                           class="mdc-checkbox__native-control"
                           id="@part.Id" name="@part.Id" checked=@checkPart />
                    <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark"
                             viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                  fill="none"
                                  d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                </div>
                <label for="@part.Id">@part.Name</label>
            </div>
        </div>
    }
</div>

