@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@
@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Users"];
    ViewData["SecondTitle"] = Localizer["User Management"];
}

@section Head  {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config.css" asp-append-version="true" />
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel"></div>
    <div class="mtd-config-place">         
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary-action" tabindex="0">
                <div mtd-data-url="/identity/users/group" class="mtd-config-param noselect">
                    <div class="mtd-config-param-icon">
                        <img src="~/lib/mtd-ordermaker/images/userGroup.png" />
                    </div>
                    <div class="mtd-config-param-title">
                        <span>@Localizer["Groups"]</span>
                    </div>
                    <div>
                        <span>@Localizer["List user groups"]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary-action" tabindex="0">
                <div mtd-data-url="/identity/users/policy" class="mtd-config-param">
                    <div class="mtd-config-param-icon">
                        <img src="~/lib/mtd-ordermaker/images/userPolicy.png" />
                    </div>
                    <div class="mtd-config-param-title">
                        <span>@Localizer["Policy"]</span>
                    </div>
                    <div>
                        <span>@Localizer["Access template"]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary-action" tabindex="0">
                <div mtd-data-url="/identity/users/accounts" class="mtd-config-param">
                    <div class="mtd-config-param-icon">
                        <img src="~/lib/mtd-ordermaker/images/userAccounts.png" />
                    </div>
                    <div class="mtd-config-param-title">
                        <span>@Localizer["Accounts"]</span>
                    </div>
                    <div>
                        <span>@Localizer["User list"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


