@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Models.Index.DisplayModelView

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@if (Model.DisplayDatas.Count > 0)
{
    <div style="display: flex; border-bottom: 1px solid #ccc; align-items: center; background-color: whitesmoke">
        <div style=" width: 100%; padding:  4px; align-items:center; overflow:hidden; overflow-x:auto;">
            <form mtd-data-form method="post" action="~/api/index/filter/remove" autocomplete="off">
                @Html.AntiForgeryToken()
                <input mtd-data-result type="hidden" name="idField" />
                <div style="display: flex; align-items: center; ">
                    @foreach (var item in Model.DisplayDatas)
                    {
                        <div id="@item.Id-display" class="mdc-elevation--z1" style="display: flex; font-size: 12px; background-color: gray; color: white; padding: 1px 8px 1px 8px; border-radius: 8px; margin-left:2px; margin-right:2px;">
                            <input id="@item.Id-inputdisplay" value="" hidden />
                            <div>
                                <div style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis">
                                    @Localizer[@item.Header]
                                </div>
                                <div style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis">
                                    @item.Value
                                </div>
                            </div>
                            <div style="align-self: center">
                                <a mtd-data-clicker="@item.Id@item.Type" href="#">
                                    <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing" tabindex="0" role="button">cancel</i>
                                </a>
                            </div>
                        </div>
                    }
                    </div>
            </form>
        </div>

        <div  style=" padding: 2px 18px 2px 4px; 18px; padding-left: 4px;">
            <form mtd-data-form method="post" action="~/api/index/filter/removeall" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" name="filter-id" value="@Model.IdFilter" />
                <input type="hidden" name="form-id" value="@Model.FormId" />
                <div class="mtd-button-hint">
                    <button mtd-data-clicker class="btn" type="button">
                        <i class="bi bi-x-square-fill"></i>
                    </button>
                    <div class="mtd-button-hint_info">
                        <span>@Localizer["Clear all"]</span>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
}
